@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(to left, rgb(105, 104, 101), rgb(226, 226, 216)); */
  /* background-color: #14131a; */
  background: linear-gradient(to right, #14131a, #2a2139);

} 
